<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><strong>Current value</strong></h2>
    <p><strong>Object 1 </strong> : <span class="obj1stat">None</span><br><strong>Object 2 </strong> : <span class="obj2stat">None</span></p>
    <hr>
    <h2><strong>Value Input</strong></h2>
    <textarea style="padding: 10px; width: 50%;" id="" cols="30" rows="10" class="JSONP0" placeholder="Type an value to send"></textarea>
    <button style="padding: 10px; width: 50%; text-align: center; cursor: pointer;" onclick="sendData();">Send</button>
    <hr>
    <script>
      function sendData(ignore){
        var JSONP0 = $(".JSONP0").val();
        if(!ignore){ if(JSONP0 == ""){ alert("Data is blank"); return; } else{ var finalData = JSONP0; } }
        $.ajax({
          method: "POST",
          contentType : "application/json; charset=utf-8",
          url: "./",
          data: JSONP0
        })
        .done(function(msg) {
          msg = JSON.parse(msg);
          console.info("Data recieved : " + msg);
          $(".obj1stat").text(msg[0]);
          $(".obj2stat").text(msg[1]);
        })
        .fail(function() {
          console.error("Operation failed");
        });
      }
    </script>
  </body>
</html>